Repository CharanDhanireddy/HandyConnect, pull requests merged in 2022-04, with the labels that each got.

#133 [Backend] 1. Booking cancellation & reschedule 2.User ratings
  backend/dbConnection/dbConnection.go
  backend/dbOperations/bookingOperations.go
  backend/dbOperations/dbOperations.go
  backend/dbOperations/userOperations.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/main.go
  backend/requestHandlers/bookingHandler.go
  backend/requestHandlers/requestHandlerFunc.go
  backend/router/router.go
  backend/schema/schemaStructs.go
  backend/sqlite-database.db
  backend/structTypes/requestStructs.go
  backend/structTypes/responseStructs.go
Labels: User Story, backend, Sprint 3

#135 Bug fixes on the user booking side
  frontend/src/Components/Bookings/Booking.jsx
  frontend/src/Components/Bookings/Bookings.jsx
Labels: bug, frontend, Sprint 3

#180 [Backend]Create an OTP while making a booking
  backend/dbOperations/bookingOperations.go
  backend/dbOperations/dbOperations.go
  backend/sqlite-database.db
  backend/structTypes/responseStructs.go
Labels: enhancement, backend, Sprint 4

#186 OTP verification
  backend/dbOperations/dbOperations.go
  backend/requestHandlers/requestHandlerFunc.go
  backend/router/router.go
  backend/structTypes/requestStructs.go
  backend/structTypes/responseStructs.go
Labels: backend, API, Sprint 4

#192 updated start and end service APIs
  backend/dbOperations/dbOperations.go
  backend/requestHandlers/requestHandlerFunc.go
  backend/router/router.go
Labels: backend, API

#195 updated start and end service SQL update statements for appropriate DB status
  backend/dbOperations/dbOperations.go
Labels: bug, backend

#219 final fixes for booking completion
  backend/dbOperations/dbOperations.go
Labels: backend, API, Sprint 4

#221 updating VendorBookings and CustomerBookings API
  backend/dbOperations/dbOperations.go
  backend/sqlite-database.db
  backend/structTypes/responseStructs.go
Labels: backend, API, Sprint 4

#223 Updated UTs for sprint 4
  backend/dbOperations/dbOperations.go
  backend/test_db.db
  backend/unitTests_test.go
Labels: backend, tests, Sprint 4

#229 [Back-end] Tests for start and end service. API documentation update.
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/requestHandlers/requestHandlerFunc.go
  backend/unitTests_test.go
Labels: documentation, backend, tests, Sprint 4
