Repository CharanDhanireddy/HandyConnect, pull requests merged in 2022-03, with the labels that each got.

#70 Updated APIs for bookings retrieval
  backend/dbOperations/dbOperations.go
  backend/requestHandlers/requestHandlerFunc.go
  backend/router/router.go
  backend/sqlite-database.db
  backend/structTypes/responseStructs.go
Labels: backend, API

#74 [Backend]Passing params forward (minor bug)
  backend/dbOperations/dbOperations.go
Labels: bug, backend

#76 Return user/vendor profile on signup and login
  backend/dbOperations/dbOperations.go
  backend/dbOperations/userOperations.go
  backend/main.go
  backend/requestHandlers/SignUpLoginHandler.go
  backend/structTypes/responseStructs.go
Labels: backend, API

#77 CORS middleware GIN
  backend/middleware/middleware.go
  backend/router/router.go
Labels: enhancement, backend

#80 [Backend] CORS middleware. Auto-assign vendor based on availability.
  backend/dbOperations/bookingOperations.go
  backend/dbOperations/dbOperations.go
  backend/dbOperations/userOperations.go
  backend/requestHandlers/requestHandlerFunc.go
  backend/router/router.go
  backend/structTypes/responseStructs.go
Labels: enhancement, sprint 2, backend

#102 unit tests Back-end
  backend/test_db.db
  backend/unitTests_test.go
Labels: sprint 2, backend

#107 [Frontend] Updated vendor login
  frontend/src/Components/VendorLogin.jsx
  frontend/src/Components/VendorSignup.jsx
Labels: frontend, Sprint 3

#114 Add vendor profile
  frontend/src/App.js
  frontend/src/Components/Vendorprofile.jsx
Labels: frontend, Sprint 3

#119 Improve vendor profile ux
  frontend/src/Components/Vendorprofile.jsx
  frontend/src/index.css
Labels: frontend, Sprint 3

#120 Improve user profile UX
  frontend/src/Components/Profile.jsx
  frontend/src/Components/Vendorprofile.jsx
  frontend/src/index.css
Labels: frontend, Sprint 3

#131 UX changes to vendor and customer booking
  frontend/cypress/integration/LoginTest/Login.spec.js
  frontend/src/Components/Bookings/Booking.jsx
  frontend/src/Components/Bookings/Bookings.jsx
  frontend/src/Components/VendorBooking.jsx
  frontend/src/Components/VendorDashboard.jsx
  frontend/src/index.css
Labels: frontend, Sprint 3
